.hero {
    text-align: center;
  }
  
  .hero-image {
    max-width: 100%;
    height: auto;
    padding: 2rem;
    border-radius: 20%;
  }

.P2 {
  color: white;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

  .P1 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 10px;
    font-weight: bold;
  }
  
 .check {
  border-radius: 50px;
  width: 90%;
 } 
  